# Copy this file to .env and fill in your values

POSTGRES_HOST=localhost
POSTGRES_DB=gdpbzn
POSTGRES_USER=gdpbzn
POSTGRES_PASSWORD=CHANGE_THIS_TO_SECURE_PASSWORD
POSTGRES_PORT=5432
SECRET_KEY=CHANGE_THIS_TO_RANDOM_STRING_AT_LEAST_32_CHARS
FLASK_ENV=development
DEBUG=True