body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

#topnav {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    display: flex;
}


ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: darkred;
}
